{% extends 'base.html' %}

{% block body %}

	{% for musteri in musteris %}

	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption">
		      <h3>{{ musteri.isim}} {{ musteri.soyisim}} </h3>
	        <p><a href="{{musteri.get_absolute_url}}" class="btn btn-primary" role="button">Incele</a> 
		{% if request.user.is_authenticated %}
		<p><a href="{{musteri.get_update_url}}" class="btn btn-primary" role="button">Güncelle</a>
		<p><a href="{{musteri.get_delete_url}}" class="btn btn-primary" role="button">Sil</a>
		{% endif %}
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}

    <div class="row">
	    <div class="col-md-6 col-md-offset-3">
		<div class="pagination">
		    <span class="step-links">
		        {% if musteris.has_previous %}
		            <a href="?page={{ musteris.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ musteris.number }} of {{ musteris.paginator.num_pages }}.
		        </span>

		        {% if musteris.has_next %}
		            <a href="?page={{ musteris.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>
	</div>
    </div>	

    {% endblock %}
</body>
</html>

