<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Title</title>
</head>
<body>

	Merhaba {{isim}}, kayıtları listelemek için <br>
	http://127.0.0.1:8000/musteri/index/ <br>
	admin sayfası için  <br>
	http://127.0.0.1:8000/admin/ <br>
	kayıt eklemek için <br>
	http://127.0.0.1:8000/musteri/create/ <br>
	güncellemek için <br>
	http://127.0.0.1:8000/musteri/9/update/ <br>
	buradaki 9 örnek olarak verilmiş olup güncellenmek istenilen id numarası belirtilmelidir.Bazı id numaraları (3,4,5,7,8) delete metodu kontrolü için silinmiştir. <br>
	silmek için <br>
	http://127.0.0.1:8000/musteri/9/delete/ <br>
	buradaki 9 yerine istenilen id numarası verilerek silme işlemi gerçekleştirilebilir <br>


</body>
</html>


