{% extends 'base.html' %}

{% block title %} Anasayfa- {{ block.super }} {% endblock %}

{% block body %}

Merhaba {{isim}}, müşteri kayıt formunda kayıtlara müşteri listesi kısmından ulaşabilirsiniz. Değişiklik yapmak istediğiniz kayıtları güncelle bölümünden değiştirebilir, kayıt silmek isterseniz ise sil bölümünü kullanabilirsiniz. Ayrıca kayıtların altında bulunan incele kısmından kayıtlar hakkındaki detaylara ulaşabilirsiniz.<br> <br>
Yeni bir kayıt eklemek için üst tarafta bulunan Yeni Müşteri Ekle bölümünü kullanabilirsiniz.<br> <br>
Kayıtlarda arama yapabilmek için müşteri listesi sayfasındayken yukarıdaki arama alanını kullanabilirsiniz. İsim, soyisim, tc no, cep telefonu, şehir ve ilçe ismine göre arama yapılabilmektedir. Arama yaparken kelimenin başında ve sonunda boşluk bırakılmadığına dikkat edilmelidir. <br> <br>
Kayıt formunda değişiklik yapabilmek için sisteme giriş yapmış durumda olmalısınız. <br>

{%endblock %}


